.svg-icon {
    width: 1em;
    height: 1em;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
}