@import "../variables/_variables.scss";
.input {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  outline: none;
  border: 1px solid #E1E4E6;
  height: 30px;
  line-height: 30px;
  background-color: #F3F3F3;
  -webkit-appearance: none;
}
