@import "../variables/_variables.scss";
.bs-agent {
  padding: 0 10px 10px;
  height: 100%;
  overflow: hidden;

  &__box {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 80px;
    padding: 10px;
    margin-top: 10px;
    background-color: $white;

    &__img {
      display: block;
      width: 80px;
      height: 80px;
      margin-right: 6px;
    }

    &__info {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-top: 10px;

      &__header {
        display: flex;
        align-items: center;

        dt {
          color: $font-color-default-hover;

          .badge {
            margin-left: 5px;
          }
        }

        dt,
        dd {
          padding: 0 5px;
          .svg-icon {
            vertical-align: middle;
          }
        }
      }

      &__actions {
        display: flex;
        margin-top: 10px;
        padding: 0 10px;

        &__add {
          width: 30px;

          .btn {
            padding: 0;
            line-height: 21px;
          }
        }

        &__list {
          display: flex;
          flex: 1;
          flex-wrap: wrap;
          padding: 0 10px;

          li {
            margin-right: 4px;
            margin-bottom: 8px;
          }

        }

        &__deny {
          width: 80px;
        }
      }
    }
  }
}